@font-face {
    font-family: Schoolbell-Regular;
    src: url(../Schoolbell-Regular.ttf);
}

body {
    font-family: Schoolbell-Regular;
    display: flex;
    flex-direction: row-reverse;
    background-image: url(https://i.pinimg.com/originals/d4/80/c4/d480c40dcb2d74ab9d31d96e8dc3cad1.png);
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.menuDog {
    background-color: #BE8661;
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.shibaImg {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
}


.redesociais:hover, .menuDogImg:hover {
    opacity: 55%;
    transition: 1s;
    cursor: pointer;
}

.menuInformations {
    border: #82370d solid 5px;
    margin-top: 2%;
    margin-bottom: 5%;
    user-select: none;
}

.menuInformationsButtons {
    background-color: #b3b3ab;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.menuInformationsButtons:hover {
    background-color: #f8f8e2;
    cursor: pointer;
}

.redesociais {
    object-fit: cover;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0%;
    left: 4%;
}

.gitImg {
    object-fit: cover;
    max-width: 40px;
    max-height: 40px;

}